:root {
    --background-color-links: dodgerblue;
    --color-letters: white;
    --background-color-hovering: white;
    --color-letter-hovering: dodgerblue;
    --navbar-background: rgb(12, 12, 12);
}

/* trick to make navbar menu horizontall sroll bar is by using overflow:auto and white-space:nowrap; */

.scrollmenu {
    background-color: var(--navbar-background);
    overflow: auto;
    white-space: nowrap;
    width: 30%;
  }
  
  .scrollmenu a {
    display: inline-block;
    color: var(--color-letters);
    text-align: center;
    padding: 14px;
    text-decoration: none;
    background-color: var(--background-color-links);
  }
  
  .scrollmenu a:hover {
    background-color: var(--background-color-hovering);
    color: var(--color-letter-hovering);
  }