:root {
    font-size: 16px;
    margin-right: 10px;
    --background-color-link: dodgerblue;
    --background-color-link-hovering: white;
    --color-link-hovering: dodgerblue;
    --colors: white;
}

.topnav {
    display: flex;
    width: 100%;
    background-color: rgb(219, 219, 219);
}

.topnav a {
    text-decoration: none;
    color: white;
    padding: 15px 15px;
    background-color: var(--background-color-link);
}

.topnav a:hover {
    background-color: var(--background-color-link-hovering);
    color: var(--color-link-hovering);
    color: black;
}

.topnav-right {
    margin-left: 1482px;
    display: flex;
}