:root {
    font-size: 62.5%;
}

body {
    font-size: 100%;
    margin: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    color: white;
    height: 100%;
    background: linear-gradient(to bottom, rgb(43,50,178) 0%, rgb(20,136,204) 100%);
    background-repeat: no-repeat;
}