:root {
    --border-color-aside: #1098ad;
    --heading1-color: #1098ad;
    --body-background-color: white;
}

* {
    
}


body {
    color: red;
    font-family: sans-serif;
    border-top: 10px solid #1098ad;
}


h1,
h2,
h3 {
    color: #1098ad;
}

h1 {
    font-size: 25px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-style: italic;
    color: var(--heading1-color);
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.5;
}

li {
    font-size: 20px;
}

footer p {
    font-size: 16px;
}

header p {
    font-style: italic;
}

#author {
    font-style: italic;
    font-size: 18px;
}

#copyright {
    font-size: 16px;
}

.related-author {
    font-size: 18px;
    font-weight: bold;
}

.related {
    list-style: none;
}

.main-header {
    background-color: #f7f7f7;
}

aside {
    background-color: #f7f7f7;
    border: 5px solid var(--border-color-aside);
}

body {
    background-color: var(--body-background-color);
}

.first-li {
    font-weight: bold;
}


/* Pseudo Classes */
/* 
li:first-child{
    font-weight: bold;
}

li:last-child{
    font-style: italic;
}

li:nth-child(even) {
    /* color: red; */


/* article header h2:first-child {
    color: red;
}

/* Styling Links */
/* a {
    color: red;
} */ 

/* target only elements which have an href attribute */
a:link {
    color: #1098ad;
    text-decoration: none;
}

a:visited {
    color: #1098ad;
}

a:hover {
    color: blue;
    font-weight: bold;
    text-decoration: underline orangered;
}

/* when we do click to the link active pseudoclass acted on the element */
a:active {
    background-color: black;   
    font-style: italic; 
}

/* LVHA */

/* Resolving conflict */
#copyright {
    color: red;
}

.copyright {
    color: blue;
}

.text {
    color: yellow;
}

footer p {
    color: green;
}

nav {
    font-size: 18px;
}


/*
CONFLICTING SELECTORS AND DECLARATIONS


Highest 
Priority 
^
|
|
| 5) Declaration marked !important 
|
|
|
| 4) Inline Style (style attribute in HTML)
|
|
|
| 3) ID (#) selector
|
|
|   
| 2) Class (.) or pseudo-class (:) selector
|
|
|
| 1) Element Selector (p, div, li, etc)
|
|
|
| 0) Universal Selector(*)
|
|
|
|
|
|
|
|
|
Lowest Priority 

*/