/* 

-------------------------------------------- 01 TYPOGRAPHY SYSTEM --------------------------------------------

Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400

- Line heights:
Default: 1


Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

------------------------------------------- 02 COLORS ----------------------------------------------------------

- Primary Color : #e67e22

- Tints (darker versions):
- Shades (lighter versions):
- Accents:
- Greys: #555;
google - tints and shades generator
-------------------------------------------05 SHADOWS-------------------------------------------------------

-------------------------------------------06 BORDER_RADIUS-------------------------------------------------

----------------------------------------07 WHITESPACE------------------------------------------------------------
*/

:root {
    --primary-color: #555;
    --primary-darker-color: #333;
    --hero-background-color: #fdf2e9;
    --button-primary-background-color: #e67e22;
    --button-primary-darker-background-color: #b8651b;
    --button-outline-background-color: #fff;
    --button-outline-darker-background-color: #fdf2e9;
    --button-primary-color: #fff;
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: var(--primary-color);
}


