.hero {
    background-color: var(--hero-background-color);
    padding: 4.8rem 0 9.6rem 0;
    padding: 0 3.2rem;
}

.article-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 130rem;
    margin: 0 auto;
    gap: 9.6rem;
    background-color: var(--hero-background-color);
}

.hero-img {
    width: 100%;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 4.8rem;
}



.figure-img {
    display: inline-block;
}

.delivered-meals {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 8rem;
}

.delivered-imgs {
    display: flex;
}

.delivered-imgs img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid var(--button-outline-background-color);
}

.delivered-imgs img:last-child {
    margin-right: 2rem;
}

.delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
}

.delivered-text span {
    color: var(--button-primary-background-color);
    font-weight: 700;
}

@media(max-width: 1200px) {
    .article-hero {
        background-color: orangered;
    }   
}

@media(max-width: 600px) {
    .article-hero {
        border: 20px dashed blue;
        background-color: blue;
    }
}