:root{
    --primary-color: rgb(74, 74, 236);
    --primary-color-darker: rgb(35, 35, 212);
    --secondary-color: rgb(119, 233, 119);
    --secondary-color-darker: rgb(39, 136, 39);
    --third-color: rgb(170, 39, 6);
    --main-color: #fff;
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100vw;
    height: 100vh;
}

.header {
    height: 8%;
    width: 99%;
    background-color: var(--primary-color);
    color: var(--main-color);
    border-radius: 1rem;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
}

.header__h1 {
    flex-basis: 6%;
    padding: 1rem;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    width: 99%;
    height: 78%;
    gap: 1rem;
}

.items {
    width: 80%;
    height: 100%;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    display: flex;
    gap: 0rem;
    flex-wrap: wrap;
}

.items_h1 {
    width: 99%;
    height: 0%;
    flex-grow: 1;
    color: var(--main-color);
    font-size: 2.5rem;
    justify-content: flex-start;
    margin-left: 2rem;
}

.items__sum {
    flex-basis: 99%;
    height: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}



.items__sum__item {
    flex-basis: 22%;
    height: 15%;
    flex-grow: 1;
    color: var(--main-color);
    font-size: 1.2rem;
    padding: 1rem;
    background-color: var(--secondary-color-darker);
    text-align: center;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items__sum__item__span {
    color: var(--main-color);
    font-size: 2rem;
}

.items__sum__item:last-child {
    background-color: var(--secondary-color);
}
.sidebar {
    width: 20%;
    height: 100%;
    background-color: var(--third-color);
    border-radius: 1rem;
    display: flex;
}

.sidebar_h1 {
    flex-basis: 6%;
    color: var(--main-color);
    padding: 1rem 1rem;
}

.footer {    
    height: 8%;
    width: 99%;
    background-color: var(--primary-color-darker);
    border-radius: 1rem;
    font-size: 2rem;
    display: flex;
}

.footer span {
    margin-left: 1rem;
    margin-top: 1rem;
    flex-basis: 6%;
    color: var(--main-color);
    padding: 1rem;
}

