* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  background: #fff;
  color: #222;
}

.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width:768px) {
    .booklist {
      grid-template-columns: repeat(3, 1fr);
    }
}

.book {
  background: #d8d3d3;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
}

.book h2 {
  margin-top: 1rem;
  font-size: 1rem;
}

.book img{
  width: 100%;
  object-fit: cover;
}