.game-screen {
    padding: 0 24px;
    padding-top: 48px;
    box-sizing: border-box;

    button{
        width: 500px;
        max-width: 90%;
        min-height: 50px;
        margin-top: 24px;
    } 

    .result {
        font-weight: 600;

        &.correct {
            color: var(--correct)
        }

        &.incorrect {
            color: var(--incorrect)
        }
    }
}