.product-title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    background-color: #f7f7f7;
}

.product {
    border: 4px solid black
}

.details-list {
    list-style: square;
}

.add-cart {
    background-color: #000;
    border: none;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.add-cart:hover {
    color: #000;
    background-color: #fff;
}


.more-info:link, .more-info:visited {
    color: black;
}

.more-info:hover, .more-info:active {
    text-decoration: none;
}