:root {
    font-size: 62.5%;

    /*----------------------------Body--------------------------------------*/
    --background-color-body: #eee;

    /*----------------------- Variables Header--------------------------------- */
    --background-color-header: #f2d1ae;
    --background-color-try-free-button: rgb(243, 153, 36);
    --background-color-try-free-button-hover: #eee;
    --color-try-for-free-button: #eee;
    --color-try-for-free-button-hover:rgb(243, 153, 36);
    --li-border-line-color: rgb(243, 153, 36);
    --primary-button-background-color: rgb(243, 153, 36);
    --primary-button-background-color-hover: #eee;
    --primary-button-color-hover: rgb(243, 153, 36);
    --primary-button-color: #eee;
    --secondary-button-background-color: #eee;
    --secondary-button-color: black;
    --secondary-button-background-color-hover: rgb(243, 153, 36);
    --secondary-button-color-hover: #eee;
    --meals-number-color: rgb(191, 111, 7);
    /*-----------------------Variables HOW IT WORKS--------------------------------------- */
    --background-color-how: #eee;
    --background-color-span-how: #eee;
    --color-span-how: rgb(243, 153, 36);
    --background-color-heading-primary: #eee;
    --color-heading-primary: rgb(10, 6, 0);
    --color-step-number: #c2bdbd;
    /*------------------------Featured In------------------------------------------------------*/
    --featured-logos-color: #b5b4b4;
    /*--------------------------- Meals ------------------------------------------------------------*/
    --color-meals-heading: rgb(243, 153, 36);
    --color-meal-title: #333;
    --color-meal-icon: rgb(243, 153, 36);
    --background-color-tag-vegeterian: #51cf66;
    --background-color-tag-paleo: #fcc419;
    --color-tag-vegeterian: #333;
    --card-color: rgba(0,0,0,0.075);
    --list-icon-color: #fcc419;
    --all-recipes-button: #fcc419;
    --all-recipes-button-hover: #cf711f;
    /***********************************Testimonials************************************/
    --color-testimonial-name: #777;
    --testimonials-background-color: #fdf2e9;
}

html {
    box-sizing: border-box;
    background-color: var(--background-color-body);

}

* {
    margin: 0;
    padding: 0;
}

img {
    height: auto;
    max-width: 100%;
}

.heading-primary {
    font-size: 1.7rem;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
}


.primary-button {
    padding: 0.5rem;
    background-color: var(--primary-button-background-color);
    color: var(--primary-button-color);
    border-radius: 15%;
    font-size: 1.2rem;
    transition: 0.5s;
}


.primary-button:hover {
    cursor: pointer;
    background-color: var(--primary-button-background-color-hover);
    color: var(--primary-button-color-hover);
}

.secondary-button {
    padding: 0.5rem;
    background-color: var(--secondary-button-background-color);
    color: var(--secondary-button-color);
    border-radius: 15%;
    font-size: 1.5rem;
    transition: 0.5s;
}

.secondary-button:hover {
    cursor: pointer;
    background-color: var(--secondary-button-background-color-hover);
    color: var(--secondary-button-color-hover);
}

.grid {
    display: grid;
}

.grid--3-cols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.2rem;
}

.grid--2-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

/* set the default of strong property */
strong {
    font-weight: 500;
}

.margin-bottom-md {
    margin-bottom: 2.8rem;
}

.center-text {
    text-align: center;
}

.heading-tertiary {
    font-size: 0.8rem;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* https://yeun.github.io/open-color/ : find colors */