.main-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.logo-omnifood {
    width: 8rem;
}

.nav-ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
}

.nav-ul__href {
    text-decoration: none;
    background-color: var(--background-color-header);
    color: black;
    font-size: 1rem;
}

.nav-ul__href:hover {
    border-bottom: solid 0.2rem var(--li-border-line-color);
}

.nav-ul__li--deep_purple {
    background-color: var(--background-color-try-free-button);
    color: var(--color-try-for-free-button);
    padding: 0.2rem;
    border-radius: 20%;
    transition: 0.5s;
    font-size: 1rem;
    margin-bottom: 0.4rem;
}

.nav-ul__li--deep_purple:hover {
    background-color: var(--background-color-try-free-button-hover);
    color: var(--color-try-for-free-button-hover);
    border-bottom: solid 0rem var(--background-color-try-free-button-hover);
}

.header-para {
    text-align: center;
    font-size: 1rem;
    padding: 2rem;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: -2rem;
    padding: 1rem;
}

.logos__img {
    height: 2.5rem;
    opacity: 100%;
    border-radius: 2rem;
}

.heading-tertiary {
    text-align: center;
    align-self: center;
    padding: 1rem;
    font-size: 1rem;
}

.heading-tertiary span {
    color: var(--meals-number-color);
}

.hero {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.hero__img {
    height: 30rem;
    text-align: center;
}



/* responsive web design (600px - 700px) */
@media screen and (min-width:600px) and (max-width: 700px) {

    .logo-omnifood {
        width: 12rem;
    }
    
    .nav-ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 2rem;
        font-size: 2rem;
    }


    .heading-primary {
        font-size: 2rem;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 1rem;
    }

    .nav-ul__href {
        font-size: 1.3rem;
    }
}

/* responsive web design (801px - 1000)px */
@media screen and (min-width:701px) and (max-width:1000px) {


    .logo-omnifood {
        width: 12rem;
    }

    .heading-primary {
        font-size: 2.5rem;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 1rem;
    }
    
    .nav-ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 2rem;
        font-size: 2rem;
    }

    .nav-ul__href {
        font-size: 1.5rem;
    }
}

/* responsive web design (1000px - 1200px) */
@media screen and (min-width: 1001px) and (max-width: 1200px) {
    .logo-omnifood {
        width: 12rem;
    }

    .heading-primary {
        font-size: 3rem;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 1rem;
    }
    
    .nav-ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 2rem;
        font-size: 2rem;
    }

    .nav-ul__href {
        font-size: 2rem;
    }
}

/* responsive web design (1200px - 1400px) */
@media screen and (min-width: 1201px) and (max-width: 1400px) {
    :root {
        font-size: 110%;
    }

    .nav-ul {
        gap: 2rem;
    }
}