.how-it-works {
    background-color: var(--background-color-how);
    margin: 1rem;
}

.how-it-works__span {
    background-color: var(--background-color-span-how);
    color: var(--color-span-how);
    font-size: 1rem;
}

.heading-primary-how {
    font-size: 1rem;
    background-color: var(--background-color-heading-primary);
    color: var(--color-heading-primary);
}
.heading-tertiary {
    font-size: 1rem;
}
.app-screen-box__img {
    height: 28rem;
}

.how-it-works-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
}

/* Flexbox */

.how-it-works-main {
    display: flex;
    flex-direction: column;
}

.heading-tertiary-how {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.step-number {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-step-number);
    margin-bottom: 1rem;
}

.step-description {
    font-size: 0.8rem;   
}
