
/* responsive web design (600px - 700px) */
@media screen and (min-width:600px) and (max-width: 700px) {

    .logo-omnifood {
        width: 12rem;
    }
    
    .nav-ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 2rem;
        font-size: 2rem;
    }


    .heading-primary {
        font-size: 2rem;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 1rem;
    }

    .nav-ul__href {
        font-size: 1.3rem;
    }

    .header-para {
        font-size: 1.5rem;
    }

    .primary-button {
        font-size: 1.8rem;
    }

    .secondary-button {
        font-size: 1.8rem;
    }

    .logos__img {
        height: 4rem;
    }

    .hero__img {
        height: 35rem;
    }

    /*-----------------------------------------------------------------------------How It Works Section-------------------------------------------------------------------------*/
    .how-it-works__span {
        font-size: 1.3rem;
    }
}

/* responsive web design (801px - 1000)px */
@media screen and (min-width:701px) and (max-width:1000px) {


    .logo-omnifood {
        width: 12rem;
    }

    .heading-primary {
        font-size: 2.5rem;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 1rem;
    }
    
    .nav-ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 2rem;
        font-size: 2rem;
    }

    .nav-ul__href {
        font-size: 1.5rem;
    }

    .header-para {
        font-size: 1.7rem;
    }

    .primary-button {
        font-size: 2rem;
    }

    .secondary-button {
        font-size: 2rem;
    }

    .logos__img {
        height: 5rem;
    }


    .hero__img {
        height: 39rem;
    }

    /*-----------------------------------------------------------------------------How It Works Section-------------------------------------------------------------------------*/
    .how-it-works__span {
        font-size: 1.8rem;
    }
}

/* responsive web design (1000px - 1200px) */
@media screen and (min-width: 1001px) and (max-width: 1200px) {
    .logo-omnifood {
        width: 12rem;
    }

    .heading-primary {
        font-size: 3rem;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 1rem;
    }
    
    .nav-ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 2rem;
        font-size: 2rem;
    }

    .nav-ul__href {
        font-size: 2.3rem;
    }

    .header-para {
        font-size: 2rem;
    }

    .primary-button {
        font-size: 2.1rem;
    }

    .secondary-button {
        font-size: 2.1rem;
    }

    .logos__img {
        height: 5.5rem;
    }


    .hero__img {
        height: 45rem;
    }

    /*-----------------------------------------------------------------------------How It Works Section-------------------------------------------------------------------------*/
    .how-it-works__span {
        font-size: 2rem;
    }
}

/* responsive web design (1200px - 1400px) */
@media screen and (min-width: 1201px) and (max-width: 1400px) {

    .logo-omnifood {
        width: 12rem;
    }

    .heading-primary {
        font-size: 3rem;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 1rem;
    }
    .nav-ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 2rem;
        font-size: 2rem;
    }

    .nav-ul__href {
        font-size: 2.3rem;
    }


    .header-para {
        font-size: 2.5rem;
    }

    .primary-button {
        font-size: 2.5rem;
    }

    .secondary-button {
        font-size: 2.5rem;
    }


    .logos__img {
        height: 6rem;
    }


    .hero__img {
        height: 50rem;
    }

    /*-----------------------------------------------------------------------------How It Works Section-------------------------------------------------------------------------*/
    .how-it-works__span {
        font-size: 2.5rem;
    }
}