/* responsive web design (1000px - 1200px) */
@media screen and (min-width: 1001px) and (max-width: 1200px) {
    .logo-omnifood {
        width: 12rem;
    }

    .heading-primary {
        font-size: 3rem;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 1rem;
    }
    
    .nav-ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 2rem;
        font-size: 2rem;
    }

    .nav-ul__href {
        font-size: 2.3rem;
    }

    .header-para {
        font-size: 2rem;
    }

    .primary-button {
        font-size: 2.1rem;
    }

    .secondary-button {
        font-size: 2.1rem;
    }

    .logos__img {
        height: 5.5rem;
    }


    .hero__img {
        height: 45rem;
    }

    /*-----------------------------------------------------------------------------How It Works Section-------------------------------------------------------------------------*/
    .how-it-works__span {
        font-size: 2rem;
    }

    .heading-primary-how {
        font-size: 1.8rem;
    }

    .step-number {
        font-size: 2.8rem;
    }

    .heading-tertiary-how {
        font-size: 1.8rem;
    }

    .app-screen-box__img {
        height: 40rem;
    }


    .step-description {
        font-size: 1.4rem;   
    }


    /*----------------------------------------------------------------------------------------Featured In Section------------------------------------------------------------------------------------- */

    .heading-featured-in {
        font-size: 2rem;
    }

    .feature-logos__img {
        height: 2rem;
        margin-right: 4rem;
    }
}