/* Block */
.navbar {
    padding: 1.6rem 3.2rem;
    background-color: var(--nav-background-color);
}

/* Element */
.navbar__link {
    margin-right: 1.6rem;
}

.navbar__link.active {
    text-decoration: none;
    font-weight: bold;
}

.sub_nav {
    padding: 1.6rem 3.2rem;
    background-color: var(--nav-background-color);
}

.sub_nav__featured {
    margin-right: 1.6rem;
}

.sub_nav__new {    
    margin-right: 1.6rem;
}
