ul {
    list-style: none;
    text-decoration: none;
}

#aside-1 a {
    text-decoration: none;
    list-style-type: none;
}

#aside-2 a {
    text-decoration: none;
}

#aside-3 a {
    text-decoration: none;
}

#aside-4 a {
    text-decoration: none;
}

#aside-5 a {
    text-decoration: none;
}