:root{
  font-size: 62.5%;
  --templateColor: rgb(239, 239, 239);

}


.section-center {
  display: flex;
  flex-direction: column;
  background-color: var(--templateColor);
  width: 22rem;
  height: 22rem;
  margin-left: 80rem;
  margin-top: 20rem;
  padding: 10rem 10rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-control {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  padding: 1rem;
  outline: none;
  width: 2rem;
}


.btn-add {
  padding: 0rem 2rem;
  background-color: rgb(11, 125, 159);
  display: inline-block;
  cursor: pointer;
}

.items {
  display: flex;
  flex-direction: column;
}

.single-item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}

.remove-btn {
  margin-left: 14rem;
  cursor: pointer;
}